jupyter-book
matplotlib
xarray>=0.15.1
munch>=2.5.0
tqdm>=4.46.0
urllib3>=1.25.8
numpy>=1.18.1
pandas>=1.0.3
gsw>=3.3.1
requests>=2.23.0
scipy>=1.7.2
beautifulsoup4>=4.9.0
PyYAML>=5.3.1
h5netcdf
seaborn>=0.13.2
bottleneck>=1.4.2
pyseas>=0.6
https://bitbucket.org/ooicgsn/pyseas/get/develop.zip
netCDF4>=1.7.2